/*======Нормалізація======*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*============Header============*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.navigation-list-nav {
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-list-nav:hover,
.navigation-list-nav:focus {
  color: #404bbf;
}

.navigation-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

.navigation-adress-cont {
  color: #434455;
  letter-spacing: 0.02em;
}

.navigation-adress-cont:hover,
.navigation-adress-cont:focus {
  color: #404bbf;
}

.navigation-adress-list {
  display: flex;
  gap: 40px;
}

/*============Main============*/
/*======Hero======*/

.container .main-title,
.button-orderservice {
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}

.button-orderservice {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: #404bbf;
}

/*=======Секція advantages-title=======*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding: 120px 0;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

/*===========Секція Our Time==========*/
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-image {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name {
  padding: 32px 0;
}

.our-team-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-name .text {
  text-align: center;
}

/*==========Секція Our Portfolio==========*/
.our-portfolio {
  padding: 120px 0;
}

.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.our-portfolio-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-list-item-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*============Footer============*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/*======Заголовки h3 на всьому сайті======*/
.h3-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/*Текст на всьму сайті*/
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
